@page "/login"

@inject HttpClient http
@inject NavigationManager navigation
@inject TokenAuthenticationProvider authStateProvider  

<div class="container col-6">
    <div class="container col-6" >
        <div class="card-body">
            <h5 class="card-title"> Login</h5>
            <EditForm Model="userinfo" OnValidSubmit="FazerLogin">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label>Email</label>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

}
