@page "/"

<h1>Catálogo de Produtos</h1>
<hr />
<h2>Macoratti.net</h2>

<AuthorizeView>
    <Authorized>
        <h2>
            Olá, @context.User.Identity.Name!
            <br/>
            @if (context.User.IsInRole("Admin"))
            {
                <text>Usuario Admin</text>
            }
        </h2>
    </Authorized>
    <NotAuthorized>
        <h2>
            Usuario não autorizado
        </h2>
    </NotAuthorized>
</AuthorizeView>


@code {

    //fazendo via c#
    [CascadingParameter]
    public Task<AuthenticationState> authentication { get; set; }

    protected override  async Task OnInitializedAsync()
    {
        var authState = await authentication;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"bem vindo {user.Identity.Name}");
            if (user.IsInRole("Admin"))
            {
                Console.WriteLine("Você faz parte do perfil admin");
            }
        }
        else
        {
            Console.WriteLine("Usuario não autenticado");
        }

    }

}