@page "/Categoria/Create"
@inject HttpClient http
@inject NavigationManager navigation

<h1 class="text-success">Nova categoria</h1>

<CategoriaForm Categoria="@categoria" OnValidSubmit="@CriarCategoria"
               ButtonTextSubmit="Criar" ButtonTextCancelar="Cancelar"></CategoriaForm>

@code{
    Categoria categoria = new Categoria();
    async Task CriarCategoria()
    {
        await http.PostAsJsonAsync("/api/Categoria", categoria);
        navigation.NavigateTo("categoria");
    }
}