@page "/evento1"

<label> dados de eventos : pressione a tecla A  para mudar a cor</label>
<div style="background-color: @cor; padding: 50px;"></div>
<input type="text" @onkeypress="@( e => TeclaPressionada(e))" />
<input type="text" @onkeydown="@( e => TeclaPressionada(e))" />
<input type="text" @onkeyup="@( e => TeclaPressionada(e))" />
@code {
    private string cor = "red";

    void TeclaPressionada(KeyboardEventArgs args)
    {
        if (args.Key == "A" || args.Key =="a")
        {
            cor = "blue";
            Console.WriteLine("A tecla A/a foi pressionada");
        }
        if (args.Key == "V" || args.Key == "v")
        {
            cor = "green";
            Console.WriteLine("A tecla V/v foi pressionada");
        }
        if (args.Key == "P" || args.Key == "p")
        {
            cor = "black";
            Console.WriteLine("A tecla P/p foi pressionada");
        }
    }


}
