@page "/counter"
@page "/counter/{incremento:int}"
@page "/counter/{texto}"
@page "/counter/{incremento:int}/{texto}"
@*
    {ativo:bool}
    {data:datetime}
    {preco:decimal}
    {altura:double}
    {largura:float}
    {id:guid}
    {id:int}
    {desconto:long}
*@


<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<h1>@Texto</h1>

@code {
    [Parameter]
    public int Incremento { get; set; }

    [Parameter]
    public string Texto { get; set; } = "Blazor";

    private int currentCount = 0;

    private void IncrementCount()
    {
        Texto = Texto ?? "O blazor é increvel";
        currentCount = currentCount + Incremento;
    }
}
