@page "/"
@inject HttpClient http
<body style="background-color:@config.CorDeFundo">
    <h1 style="font-size:@config.TamanhoFonte">Tarefas</h1>
    <Tarefas tarefas="GetTarefas()" Titulo="Lista de tarefas" />
</body>
@code{
    [CascadingParameter]
    Config config { get; set; }
    [Parameter]
    public List<Tarefa> tarefas { get; set; }

    [Parameter]
    public string Titulo { get; set; }



    protected override async Task OnInitializedAsync()
    {
        tarefas = await http.GetFromJsonAsync<List<Tarefa>>("dados/tarefas.json");
    }

    private List<Tarefa> GetTarefas()
    {
        return tarefas;
    }
}