@page "/produto/create"
@inject HttpClient http
@inject NavigationManager navigation 


<h2>Nova categoria</h2>
<ProdutoForm Produto="produto" OnValidSubmit="CriarProduto" ButtonTextCancelar="Cancelar" ButtonTextSubmit="Salvar"> </ProdutoForm>

@code{
    Produto produto = new Produto();
    async Task CriarProduto()
    {
        await http.PostAsJsonAsync("api/produto", produto);
        navigation.NavigateTo("produto");
    }
}
