@page "/users"
@*@attribute [Authorize]*@
@inject IUserService userService  
<h2>Usuarios</h2>


@if (users == null)
{


<img src="/images/basicloader.gif"/>
            }
            else
            {
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>
                        @user
                    </td>
                </tr>
            }
        </tbody>
    </table>
            }

@code {
    List<User> users;
}
